body {
  background: lighten(black,20%);
  padding-top: 50px;
}

$show-baseline-grid-backgrounds: false;
$column-gutter: em-calc(40);

.container {
  @include grid-row;
}

.content {
  padding-top: 2em;

  .main & {
    background: transparentize(white, .1);
    @include grid-column($columns:9, $push:3);

    @include tablet-portrait-and-below {
      @include grid-column($columns:12, $push:0);
    }

    .content-bottom {
      @include grid-row;

      .col.two {
        @include grid-column($columns:6);
      }

      .col.four {
        @include grid-column($columns:3);

        @include mobile-landscape-and-below {
          @include grid-column($columns:6);
        }
      }
    }
  }

  .sidebar & {
    background: transparentize(white, .2);
    @include grid-column($columns:3, $pull:9);

    @include tablet-portrait-and-below {
      @include grid-column($columns:12, $pull:0);
    }

    .col {
      @include grid-row;

      @include tablet-portrait-and-below {
        @include grid-column($columns:6);
      }
    }
  }
}

