h1 {
  font-size: $mod04;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.banner {
  background: $cornell url(../images/CUlogo45.gif) no-repeat top left;
  width: auto;
  height: 45px;
  padding: 0;
}

.navigation {
  background: $nav-bkgd url(../images/nav320.gif) no-repeat top left;
  width: auto;
  height: 45px;
  padding: 0;
}

.top {
  background-color: $ILRis;
  width: auto;
  padding: $mod-01 $mod00;
  overflow: auto;
}

.spotlight {
  width: 100%;
  float: left;
}

.ILRis {
  width: 100%;
  height: 45px;
  float: left;
}

.titles {
  background-color: transparent;
  width: 100%;
  float: left;

  img {
    display: none;
  }
}

.middle {
  width: 100%;
  padding: 0 0 $mod-01 0;
}

.contactLinks {
  background-color: $light-grey;
  border-bottom: 1px solid $grey;
  width: auto;
  padding: $mod-01 $mod00 0;
  overflow: auto; //clearfix
}

.leftCol {
  width: 100%;
  float: left;
  margin-bottom: $mod02;
}

.rightCol {
  width: 100%;
  float: left;
  margin-bottom: $mod02;
}

.experience {
  width: auto;
  padding: $mod02 $mod00 0;
  float: none;
}

aside {
  width: auto;
  margin-top: 0;
  padding: 0 $mod00 0;
  float: none;
}

.bottom {
  background-color: #f3f2ee;
  width: auto;
  padding: $mod-01 $mod-02;
}

.footer {
  background: $cornell url(../images/ILRbrand320.gif) no-repeat bottom left;
  width: auto;
  height: 92px;
  padding: 0;
}

@media only screen and (min-width: 321px) {
  h1 {
    font-size: $mod06;
  }

  .navigation {
    background: $nav-bkgd url(../images/nav480.gif) no-repeat top left;
    width: auto;
    height: 45px;
    padding: 0;
  }

  .ILRis {
    margin-bottom: $mod01;
  }

  .titles {
    img {
      display: block;
      float: left;
      margin-right: $mod01;
      margin-bottom: $mod00;
      width: auto;
      height: 200px;
    }
  }

  .footer {
    background: $cornell url(../images/ILRbrand480.gif) no-repeat bottom left;
    width: auto;
    height: 211px;
    padding: 0;
  }
}

@media only screen and (min-width: 481px) {
  .banner {
    background: $cornell url(../images/CUlogo75.gif) no-repeat top left;
    width: 960px;
    height: 75px;
    margin: 0 auto;
    padding: 0;
  }

  .navigation {
    background: $nav-bkgd url(../images/nav600.gif) no-repeat top left;
    width: auto;
    height: 45px;
    padding: 0;
  }

  .top {
    padding: $mod-01 $mod02;
  }

  .titles {
    img {
      margin-right: $mod03;
    }
  }

  .contactLinks {
    padding: $mod01 $mod02 0;
  }

  .top {
    padding: $mod-01 $mod02;
  }

  .leftCol {
    width: 350px;
    float: left;
  }

  .rightCol {
    width: auto;
    float: left;
  }

  .experience {
    padding: $mod02 $mod02 0;
  }

  aside {
    padding: $mod02 $mod02 0;
  }

  .footer {
    background: $cornell url(../images/ILRbrand768.gif) no-repeat bottom left;
    width: auto;
    height: 75px;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) {
    h1.ilr {
    padding-left: 14px;
  }
      
  img {
    width: auto;
    height: auto;
  }

  .navigation {
    background: $nav-bkgd url(../images/nav600.gif) no-repeat top left;
    width: 960px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
  }

  .top {
    background: $ILRis url(../images/SamB.jpg) no-repeat top left;
    //width: 960px - (2 * $mod05); //852.988
    width: 960px;
    height: 400px;
    margin: 0 auto;
    padding: 0 $mod05;
    overflow: hidden;
  }

  .spotlight {
    width: 490px;
    float: right;
    position: relative;
    top: 30px;
  }

  .ILRis {
    width: 100%;
    /*margin-bottom: 0;*/
  }

  .titles {
    background-color: rgba(118,133,129,0.4);
    color: #fff;
    //width: 490px - $mod03; //456.931
    width: 490px;
    height: 305px;
    padding-top: $mod03;
    padding-left: $mod03;
    position: relative;

    img {
      display: none;
    }

    h2 {
      color: #fff;
      font-weight: 600;
      margin-bottom: 14px;
    }

    ul {
      font-size: 18px;
      line-height: 2;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      position: absolute;
      bottom: 50px;
    }
  }

  .middle {
    width: 960px;
    margin: 0 auto;
    padding: 0 0 $mod02;
    overflow: auto;
  }

  .contactLinks {
    background-color: $light-grey;
    //width: 960px - (2 * $mod05); //852.988
    width: 960px;
    padding: 0 $mod05 $mod07;
    overflow: hidden;
    -moz-box-shadow: 0 10px 15px -10px $shadow;
    -webkit-box-shadow: 0 10px 15px -10px $shadow;
    box-shadow: 0 10px 15px -10px $shadow;
  }

  .leftCol {
    width: 350px;
    margin-bottom: 0;
    padding-top: $mod04;
    float: left;
  }

  .rightCol {
    background-color: #fff;
    //width: 490px - $mod03 - 6px; /*450.931*/
    width: 490px;
    min-height: 210px;
    padding: $mod04 0 $mod03 $mod03;
    margin-right: 6px;
    margin-bottom: 0;
    float: right;
    -moz-box-shadow: 0 2px 2px 1px $shadow;
    -webkit-box-shadow: 0 2px 2px 1px $shadow;
    box-shadow: 0 2px 2px 1px $shadow;
  }

  .experience {
    // width: 720px - ($mod05 * 2);
    //width: 720px - $mod05 - $mod06;
    width: 720px;
    margin-top: $mod04;
    padding: 0 $mod05 0 $mod06;
    float: left;
  }

  aside {
    width: 240px;
    margin-top: $mod04;
    padding: 0;
    float: right;

    h3 {
      color: $aside-h;
    }

    p {
      font-size: $mod-01;
      color: $aside-text;
    }

    li {
      font-size: $mod-01;
      color: $aside-text;
      list-style: none;
      background: url(../images/squareBulletSm.gif) no-repeat 0 6px;
      padding: 0 0 0 $mod-01;
    }
  }

  .middle img {
    padding-left: $mod02;
    float: right;
  }

  .bottom {
    background-color: #fff;
    height: 100px;
    //width: 960px - (2 * $mod05);
    width: 960px;
    margin: 0 auto;
    padding: $mod02 $mod05;
  }
}
