h1 {
  font-size: $mod04;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.banner {
  background: $cornell;
  width: 100%;
  margin: 0 auto;
}

.lockup {
  background: $cornell url(../images/CUlogo45.gif) no-repeat top left;
  width: auto;
  height: 45px;
  padding: 0;
}

.navigation {
  background: $nav-bkgd;
  width: 100%;
  margin: 0 auto;
}

.nav {
  background: $nav-bkgd url(../images/nav320.gif) no-repeat top left;
  width: auto;
  height: 45px;
  padding: 0;
}

.top {
  background-color: $sand;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  -moz-box-shadow: 0 4px 10px 0px $shadow;
  -webkit-box-shadow: 0 4px 10px 0px $shadow;
  box-shadow: 0 4px 10px 0px $shadow;
}

.spotlight {
  width: auto;
  padding: $mod-01 $mod00;
}

.photo {
  width: 100%;
  float: left;

  img {
    margin-bottom: $mod00;
  }
}

.nameInfo {
  width: 100%;
  padding-bottom: $mod-01;
  float: left;

  ul {
    margin-bottom: $mod00;
  }

  .carousel {
    width: 100%;

    p{
      padding: 0 0 $mod-01 0;
    }

    img {
      width: 112px;
      height: 20px;
    }
  }
}

.middle {
  width: 100%;
  padding: $mod01 0 0 0;
}

aside {
  border-bottom: 1px solid $grey;
  width: auto;
  margin-top: 0;
  padding: 0 $mod00 $mod03 $mod00;
  float: none;

  .infoBox {
    background-color: transparent;
    width: 100%;

    ul {
      padding-bottom: $mod01;
    }
  }

  .expertise {

    p {
      padding-bottom: 0;
      }

    ul {
      margin-bottom: $mod00;
    }
  }
}

.experience {
  background-color: $light-grey;
  width: auto;
  padding: $mod02 $mod00 0;
  float: none;
}

.footer {
  background: $cornell;
  width: 100%;
  margin: 0 auto;
}

.logo {
  background: $cornell url(../images/ILRbrand320.gif) no-repeat bottom left;
  width: auto;
  height: 92px;
  padding: 0;
}

@media only screen and (min-width: 321px) {
  h1 {
    font-size: $mod06;
  }

  .nav {
    background: $nav-bkgd url(../images/nav480.gif) no-repeat top left;
    width: auto;
    height: 45px;
    padding: 0;
  }

  .top {
    background: $sand url(../images/topBkgd.gif) repeat top left;
  }

  .photo {
    img {
      display: block;
      float: left;
      margin-right: $mod01;
      width: auto;
      height: 200px;
      -moz-box-shadow: 0 3px 5px 0px $shadow-dark;
      -webkit-box-shadow: 0 3px 5px 0px $shadow-dark;
      box-shadow: 0 3px 5px 0px $shadow-dark;
    }
  }

  .logo {
    background: $cornell url(../images/ILRbrand480.gif) no-repeat bottom left;
    width: auto;
    height: 211px;
    padding: 0;
  }
}

@media only screen and (min-width: 481px) {
  .lockup {
    background: $cornell url(../images/CUlogo75.gif) no-repeat top left;
    width: auto;
    height: 75px;
    margin: 0;
    padding: 0;
  }

  .nav {
    background: $nav-bkgd url(../images/nav600.gif) no-repeat top left;
    width: auto;
    height: 45px;
    padding: 0;
  }

  .top {
    min-height: 300px;
    margin: 0;
    padding: $mod-01 0;
  }

  .spotlight {
    padding: $mod-01 0;
  }

  .photo {
    width: auto;
    padding: 0 $mod02;
    float: left;
  }

  .nameInfo {
    width: 500px;
    padding-right: $mod00;
    float: left;
  }

  aside {
    padding: 0 $mod02 $mod02 $mod02;
    overflow: hidden;

    .infoBox {
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      margin-bottom: $mod01;
      padding-top: $mod01;
      width: 50%;
      min-height: 240px;
      float: left;

      ul {
        padding-bottom: 0;
      }
    }

    .expertise {

      ul{
        overflow: auto;
      }

      li {
        width: 50%;
        float: left;
      }
    }
  }

  .experience {
    padding: $mod02 $mod02 0;
  }

  .logo {
    background: $cornell url(../images/ILRbrand768.gif) no-repeat bottom left;
    width: auto;
    height: 75px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) {
    h1.ilr {
    padding-left: 14px;
  }

  img {
    width: auto;
    height: auto;
  }

  .lockup {
    width: 960px;
    margin: 0 auto;
  }

  .nav {
    background: $nav-bkgd url(../images/nav600.gif) no-repeat top left;
    width: 960px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
  }

  .top {
    background: $sand url(../images/topBkgd.gif) repeat-x top center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .spotlight {
    background: $sand url(../images/spotlightBkgd.gif) no-repeat top center;
    width: 960px;
    height: 300px;
    margin: 0 auto;
    padding: $mod-01 0;
    overflow: hidden;

    img {
      float: left;
    }
  }

  .photo {
    width: 240px;
    padding: $mod02 0 0 $mod03;
  }

  .nameInfo {
    //background-color: rgba(118,133,129,0.4);
    width: 720px;
    height: 305px;
    padding: $mod02 $mod05 0 $mod06;

    h2 {
      font-weight: 600;
      margin-bottom: $mod-02;
    }

    ul {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: $mod00;
    }

    .carousel {

      p {
        float: left;
      }

      img {
        float: right;
      }
    }
  }

  .middle {
    width: 960px;
    margin: 0 auto;
    padding: 0 0 $mod02;
    overflow: auto;
  }

  aside {
    border-bottom: none;
    width: 240px;
    margin-top: $mod04;
    padding: 0 0 0 $mod03;
    float: left;
    overflow: auto;

    h3 {
      color: $aside-h;
    }

    p {
      font-size: $mod-01;
      color: $aside-text;
    }

    li {
      font-size: $mod-01;
      color: $aside-text;
      list-style: none;
      background: url(../images/squareBulletSm.gif) no-repeat 0 6px;
      padding: 0 0 0 $mod-01;
    }

    .infoBox {
      background-color: transparent;
      border-top: none;
      border-bottom: none;
      margin-bottom: 0;
      padding-top: 0;
      width: 100%;
      min-height: 0;
      float: none;

      ul {
        padding-bottom: $mod01;
      }
    }

    .expertise {

      li {
        width: 100%;
        float: none;
      }
    }
  }

  .experience {
    background-color: transparent;
    width: 720px;
    margin-top: $mod04;
    padding: 0 $mod05 0 $mod06;
    float: right;
  }

  .logo {
    width: 960px;
    margin: 0 auto;
  }
}
