body {
-webkit-font-smoothing: antialiased;
}

p {
padding-bottom: ms(1);
-webkit-margin-before: 0;
-webkit-margin-after: 0;
}

p+h2 {
  margin-top: 0;
}

h2 {
-webkit-margin-before: 0;
-webkit-margin-after: 0;
}

ul {
padding-bottom: 15px;
}

li {
list-style: circle;
font-family: freight-sans-pro;
font-size: ms(0);
line-height: 1.618;
margin-left: 20px;
}

//.content
// .region {
// width: 1080px;
// margin: 0 auto 20px auto;
// padding: 0;
// overflow: hidden;
// }
