// Modular scale
$mod07: 86.572px;
$mod06: 59.301px;
$mod05: 53.506px;
$mod04: 36.651px;
$mod03: 33.069px;
$mod02: 22.652px;
$mod01: 20.438px;
$mod00: 14px;
$mod-01: 12.632px;
$mod-02: 8.653px;

// Colors
$cornell: #b31b1b;
$nav-bkgd: #4d4e53;
$ILRis: #dbddd5;
$grey: #e8e8e8;
$light-grey: #f7f7f7;
$maroon: #92210f;
$sand: #b3b3aa;
$shadow: #959595;
$shadow-dark: #636363;

$h-text: #212121;
$p-text: #212121;
$aside-text: #898989;
$aside-h: #707070;
