@include add-grid (1);
// $gutters: 1/3;

.wrapper {
    //@include background-grid;
    margin: 0 auto;
    min-height: auto;
  }

.region {
    min-height: 200px;

    &#featured {
      background: orange;
    }
    &#highlighted {
      background: red;
    }
    &#content {
      background: yellow;
    }
    &#sidebar_first {
      background: green;
    }
    &#sidebar_second {
      background: blue;
    }
    &#content_bottom {
      background: grey;
    }
  }

#featured {
  @include grid-span(1);
}

#content {
  @include grid-span(1);
}

#sidebar_first {
  @include grid-span(1);
}

#sidebar_second {
  @include grid-span(1);
}

#content_bottom {
  @include grid-span(1);
}


@include breakpoint(481px 1024px) {

  @include add-grid (3 9);

  #featured {
    @include grid-span(2);
  }

  #content {
    @include grid-span(1, 2);
    // clear: both;
  }

  #sidebar_first {
    @include grid-span(1, 1);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
  }

}


@include breakpoint(1025px) {

  @include add-grid (3 6 3);

  #featured {
    @include grid-span(3);
  }

  #content {
    @include grid-span(1, 2);
    clear: both;
  }

  #sidebar_first {
    @include grid-span(1, 1);
  }

  #sidebar_second {
    @include grid-span(1, 3);
  }

  #content_bottom {
    @include grid-span(3);
    clear: both;
  }

}
