@include add-grid (1);
// $gutters: 1/3;

.wrapper {
  //@include background-grid;
  margin: 0 auto;
  min-height: auto;
  overflow: auto;
}

.region {
  margin: 0;
  padding: 0;
  overflow: hidden;

  &nav {
    background: $gray-light;
  }
  &#topNav {
    background: $cornell-red;
  }
  &#featured {
    background: $red-dark url(../images/group.jpg) no-repeat top center;
    background-size: 100%;
  }
  &#featured-carousel {
    background: $red-dark;
  }
  &#featured-carousel-trans {
    background: $gray-dark;
    position: relative;
  }
  &#featured-noBanner {
    background-color: $cornell-red;
    background-color: $cornell-cool-grey;
    background-color: #fff;
    background: #f1f1f1;
    border-bottom: solid 1px #ccc;
    // background-image: -webkit-linear-gradient(top, #b31b1b 60%, #72170e);
    // background-image: -moz-linear-gradient(top, #b31b1b 60%, #72170e);
    // background-image: -ms-linear-gradient(top, #b31b1b 60%, #72170e);
    // background-image: -o-linear-gradient(top, #b31b1b 60%, #72170e);
    // background-image: linear-gradient(top, #b31b1b 60%, #72170e);
  }
  &#featured-interactive {
    background-color: #3c7ab0;
    background-image: -webkit-linear-gradient(top, #4083bd 15%, #3c7ab0);
    background-image: -moz-linear-gradient(top, #4083bd 15%, #3c7ab0);
    background-image: -ms-linear-gradient(top, #4083bd 15%, #3c7ab0);
    background-image: -o-linear-gradient(top, #4083bd 15%, #3c7ab0);
    background-image: linear-gradient(top, #4083bd 15%, #3c7ab0);
    border-bottom: solid 1px #1b1464;
  }
  &#highlighted {
  }
  &#content {
    position: relative;
    z-index: 0;
    img {
      margin-bottom: ms(2);
    }
  }
  &#sidebar_first {
  }
  &#sidebar_second {
  }
  &#content_bottom {
    background: $gray-light;
  }
  &footer {
    background: $gray-dark;
  }
}

nav {
  @include grid-span(1);
}

#topNav {
  @include grid-span(1);
  height: auto;
}

#featured {
  @include grid-span(1);
  height: 180px;
}

#featured-carousel {
  @include grid-span(1);
  height: auto;
}

#featured-carousel-trans {
  @include grid-span(1);
  height: auto;
}

#featured-noBanner {
  @include grid-span(1);
  height: 85px;
}

#featured-interactive {
  @include grid-span(1);
  height: 100%;
}

#banner, #bannerAnom {
  background: url(../images/CU-ILR-75-white.png) no-repeat left top;
  background-image: url(../images/CU-ILR-75-white.svg), none;
  // background-size: 376px 120px;
  background-size: 100%;
  width: 172px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5%;
  a.logo {
    // background: rgba(255, 255, 0, 0.5);
    width: 75px;
    height: 75px;
    display: block;
    float: left;
  }
  a.lockup {
    // background: rgba(0, 255, 0, 0.5);
    width: 90px;
    height: 17px;
    margin-top: 26px;
    margin-left: 7px;
    display: block;
    float: left;
  }
}

#bannerAdj, #bannerInt {
  background-size: 100%;
  width: 75px;
  height: 75px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5%;
  float: left;
  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

#search-form {
  width: 300px;
  form {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  label {
    color: #000;
    font-size: 1.1em;
    display: none;
  }
}

#search-form-query {
  background: $red-dark;
  border: none;
  font-family: $font;
  font-size: ms(0);
  font-weight: 300;
  color: #fff;
  width: 200px;
  height: 26px;
  padding-left: 5px;
  vertical-align: middle;
}

#search-form-submit {
  background: $red-dark url(../images/search.gif) no-repeat left top;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  vertical-align: middle;
}

#searchBtn {
  background: yellow;
  background: $cornell-red url(../images/search.gif) no-repeat center center;
  margin-top: 55px;
  margin-right: 2%;
  width: 50px;
  height: 50px;
  float: right;
}

.bannerWhite {
  background: url(../images/CU-ILR-caps-120-white.png) no-repeat left top;
  background-image: url(../images/CU-ILR-caps-120-white.svg), none;
}

.bannerGrey{
  background: url(../images/CU-ILR-caps-120-grey.png) no-repeat left top;
  background-image: url(../images/CU-ILR-caps-120-grey.svg), none;
}

.bannerAnnouncement {
  clear: both;
  padding-top: 10px;
  text-align: center;
  p {
    color: #fff;
    font-size: ms(2);
    font-style: italic;
    text-shadow: 1px 1px 1px #444;
    margin-bottom: ms(2);
  }
  a {
    background: rgba(39, 62, 69, 0.6);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
  }
}

#content {
  @include grid-span(1);
  padding: ms(3) 5% ms(2);
}

#sidebar_first {
  @include grid-span(1);
  padding-top: 0;
}

#sidebar_second {
  @include grid-span(1);
  background: #f1f1f1;
  padding: ms(1) 5%;
}

#content_bottom {
  @include grid-span(1);
  height: 100%;
}

footer {
  @include grid-span(1);
}

@include breakpoint(481px 768px) {

  @include add-grid (3 9);

  nav {
    @include grid-span(2);
  }

  #topNav {
    @include grid-span(2);
  }

  #featured {
    @include grid-span(2);
    height: 400px;
  }

  #featured-carousel {
    @include grid-span(2);
    height: auto;
  }

  #featured-carousel-trans {
    @include grid-span(2);
    height: auto;
  }

  #featured-noBanner {
    @include grid-span(2);
    height: 85px;
  }

  #content {
    @include grid-span(1, 2);
    padding: ms(3) 5% ms(2) 0;
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
    padding: ms(1) 5%;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
    height: 300px;
  }

  footer {
    @include grid-span(2);
  }

}


@include breakpoint(769px 1024px) {

  @include add-grid (3 9);

  nav {
    @include grid-span(2);
  }

  #topNav {
    @include grid-span(2);
  }

  #featured {
    @include grid-span(2);
    height: 400px;
  }

  #featured-carousel {
    @include grid-span(2);
    height: auto;
  }

  #featured-carousel-trans {
    @include grid-span(2);
    height: auto;
  }

  #featured-noBanner {
    @include grid-span(2);
    height: 140px;
  }

  #bannerAdj, #bannerInt {
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
  }

  #content {
    @include grid-span(1, 2);
    padding: ms(3) 5% ms(2) 0;
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
    background: #fff;
    padding: ms(1) 5%;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
    height: 300px;
  }

  footer{
    @include grid-span(2);
  }

}


@include breakpoint(1025px) {

  @include add-grid (3 6 3);

  .layout4x8 {
    @include layout(4 8);
  }

  nav {
    @include grid-span(3);
  }

  #topNav {
    @include grid-span(3);
  }

  #featured {
    @include grid-span(3);
    height: 450px;
  }

  #featured-carousel {
    @include grid-span(3);
    height: auto;
  }

  #featured-carousel-trans {
    @include grid-span(3);
    height: auto;
  }

  #featured-noBanner {
    @include grid-span(3);
    height: 140px;
  }

  #featured-interactive {
    @include grid-span(3);
    height: 320px;
  }

  #banner {
    background: url(../images/CU-ILR-120-white.png) no-repeat left top;
    background-image: url(../images/CU-ILR-120-white.svg), none;
    background-size: 376px 120px;
    width: 376px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 80px;
    float: left;
    a.logo {
      width: 120px;
      height: 120px;
      display: block;
      float: left;
    }
    a.lockup {
      width: 232px;
      height: 68px;
      margin-top: 26px;
      margin-left: 23px;
      display: block;
      float: left;
    }
  }

  #bannerAnom {
    background: url(../images/CU-ILR-120-anomoly-white.png) no-repeat left top;
    background-image: url(../images/CU-ILR-120-anomoly-white.svg), none;
    background-size: 376px 120px;
    width: 376px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 80px;
    a.logo {
      width: 120px;
      height: 120px;
      display: block;
      float: left;
    }
    a.lockup {
      width: 220px;
      height: 57px;
      margin-top: 26px;
      margin-left: 23px;
      display: block;
      float: left;
    }
  }

  #bannerAdj, #bannerInt {
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    float: left;
  }

  #search-form {
    margin-top: 55px;
    margin-right: 2%;
    width: 300px;
    float: right;
    form {
      margin: 0;
      padding: 0;
      text-align: right;
    }
    label {
      color: #000;
      font-size: 1.1em;
      display: none;
    }
  }

  #search-form-query {
    background: $red-dark;
    border: none;
    font-family: $font;
    font-size: ms(0);
    font-weight: 300;
    color: #fff;
    width: 200px;
    height: 26px;
    padding-left: 5px;
    vertical-align: middle;
  }

  #search-form-submit {
    background: $red-dark url(../images/search.gif) no-repeat center center;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    vertical-align: middle;
  }

  #search-toggle {
    background: $red-dark;
    padding: 5px 0 5px 80px;
    height: auto;
    width: 100%;
    form {
      margin: 0;
      padding: 0;
    }
    label {
      color: #000;
      font-size: 1.1em;
      display: none;
    }
  }

  #search-toggle-query {
    background: $red-dark;
    border: none;
    font-family: $font;
    font-size: ms(2);
    font-weight: 300;
    color: #fff;
    width: 500px;
    height: 60px;
    padding-left: 5px;
  }

  #search-toggle-submit {
    background: $red-dark url(../images/search.gif) no-repeat left top;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    display: none;
  }

  #content {
    @include grid-span(1, 2);
    clear: both;
    padding: ms(3) 0 ms(2);
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(1, 3);
    background: #fff;
    padding: ms(4) 0 ms(1);
  }

  #content_bottom {
    @include grid-span(3);
    clear: both;
    height: 300px;
  }

  footer{
    @include grid-span(3);
  }

}
