.wrapper {
    @include background-grid;
    margin: 0 auto;
    min-height: 1200px;
  }

.region {
    min-height: 200px;

    &#featured {
      background: orange;
    }
    &#highlighted {
      background: red;
    }
    &#content {
      background: yellow;
    }
    &#sidebar_first {
      background: green;
    }
    &#sidebar_second {
      background: blue;
    }
    &#content_bottom {
      background: grey;
    }
  }



// @include breakpoint(1025px) {

  $grids: 12;

  #featured {
    @include grid-span(12);
  }

  #content {
    @include grid-span(12);
  }

  #sidebar_first {
    @include grid-span(12);
  }

  #sidebar_second {
    @include grid-span(12);
  }

  #content_bottom {
    @include grid-span(12);
  }

// }
