@include add-grid (1);
// $gutters: 1/3;

.wrapper {
    //@include background-grid;
    margin: 0 auto;
    min-height: auto;
  }

.region {
    min-height: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &#featured {
      background: orange;
    }
    &#highlighted {
      background: red;
    }
    &#content {
      // background: yellow;
    }
    &#sidebar_first {
      background: $gray-light;
    }
    &#sidebar_second {
      background: $gray-medium;
    }
    &#content_bottom {
      background: grey;
      //height: 300px;
    }
  }

#featured {
  @include grid-span(1);
}

#content {
  @include grid-span(1);
  padding: ms(3) 5% ms(2);
}

#sidebar_first {
  @include grid-span(1);
}

#sidebar_second {
  @include grid-span(1);
}

#content_bottom {
  @include grid-span(1);
  height: 100%;
}

@include breakpoint(481px 768px) {

  @include add-grid (3 9);

  #featured {
    @include grid-span(2);
  }

  #content {
    @include grid-span(1, 2);
    padding: ms(3) 5% ms(2) 0;
  }

  #sidebar_first {
    @include grid-span(1, 1);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
    height: 300px;
  }

}


@include breakpoint(769px 1024px) {

  @include add-grid (3 9);

  #featured {
    @include grid-span(2);
  }

  #content {
    @include grid-span(1, 2);
    padding: ms(3) 5% ms(2) 0;
  }

  #sidebar_first {
    @include grid-span(1, 1);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
    height: 300px;
  }

}


@include breakpoint(1025px) {

  @include add-grid (3 6 3);

  .layout4x8 {
    @include layout(4 8);
  }

  #featured {
    @include grid-span(3);
  }

  #content {
    @include grid-span(1, 2);
    clear: both;
    padding: ms(3) 0 ms(2);
  }

  #sidebar_first {
    @include grid-span(1, 1);
  }

  #sidebar_second {
    @include grid-span(1, 3);
  }

  #content_bottom {
    @include grid-span(3);
    clear: both;
    height: 300px;
  }

}
