@include add-grid (1);
// $gutters: 1/3;

.wrapper {
  //@include background-grid;
  margin: 0 auto;
  min-height: auto;
}

.region {
  min-height: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &nav {
    background: $gray-light;
  }
  &#featured {
    background: orange url(../images/group.jpg) no-repeat top center;
    background-size: 100%;
  }
  // #banner {
  //   background: url(../images/CU-ILR-caps.png) no-repeat 80px top;
  //   background-image: url(../images/CU-ILR-caps.svg), none;
  //   height: 75px;
  //   margin-bottom: 20px;
  // }
  #banner {
    background: url(../images/CU-ILR-caps-120.png) no-repeat 80px top;
    background-image: url(../images/CU-ILR-caps-120.svg), none;
    background-size: 376px 120px;
    height: 120px;
    margin-bottom: 20px;
  }
  &#highlighted {
    background: red;
  }
  &#content {
    // background: yellow;
  }
  &#sidebar_first {
    // background: $gray-light;
  }
  &#sidebar_second {
    background: #f1f1f1;
  }
  &#content_bottom {
    background: $gray-light;
  }
  &footer {
    background: $gray-dark;
  }
}

nav {
  @include grid-span(1);
}

#featured {
  @include grid-span(1);
  height: 400px;
}

#content {
  @include grid-span(1);
  padding: ms(3) 5% ms(2);
}

#sidebar_first {
  @include grid-span(1);
  padding-top: 0;
}

#sidebar_second {
  @include grid-span(1);
}

#content_bottom {
  @include grid-span(1);
  height: 100%;
}

footer {
  @include grid-span(1);
}

@include breakpoint(481px 768px) {

  @include add-grid (3 9);

  nav {
    @include grid-span(2);
  }

  #featured {
    @include grid-span(2);
  }

  #content {
    @include grid-span(1, 2);
    padding: ms(3) 5% ms(2) 0;
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
    height: 300px;
  }

  footer {
    @include grid-span(2);
  }

}


@include breakpoint(769px 1024px) {

  @include add-grid (3 9);

  nav {
    @include grid-span(2);
  }

  #featured {
    @include grid-span(2);
  }

  #content {
    @include grid-span(1, 2);
    padding: ms(3) 5% ms(2) 0;
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
    height: 300px;
  }

  footer{
    @include grid-span(2);
  }

}


@include breakpoint(1025px) {

  @include add-grid (3 6 3);

  .layout4x8 {
    @include layout(4 8);
  }

  nav {
    @include grid-span(3);
  }

  #featured {
    @include grid-span(3);
  }

  #content {
    @include grid-span(1, 2);
    clear: both;
    padding: ms(3) 0 ms(2);
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(1, 3);
  }

  #content_bottom {
    @include grid-span(3);
    clear: both;
    height: 300px;
  }

  footer{
    @include grid-span(3);
  }

}
