@include add-grid (1);

.wrapper {
  margin: 0 auto;
  min-height: auto;
  overflow: auto;
}

.region {
  margin: 0;
  padding: 0;
  overflow: hidden;

  &#featured-noBanner {
    background-color: $cornell-red;
  }

  &#content {
    position: relative;
    z-index: 0;
    img {
      margin-bottom: ms(2);
    }
  }

  &#sidebar_first {
  }

  &#sidebar_second {
  }

  &#content_bottom {
    background: $gray-light;
  }

  &footer {
    background: $gray-dark;
  }
}


#featured-noBanner {
  @include grid-span(1);
  height: 85px;
}

#bannerAdj {
  background-size: 100%;
  width: 75px;
  height: 75px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5%;
  float: left;
  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.bannerWhite {
  background: url(../images/CU-ILR-caps-120-white.png) no-repeat left top;
  background-image: url(../images/CU-ILR-caps-120-white.svg), none;
}

.bannerGrey{
  background: url(../images/CU-ILR-caps-120-grey.png) no-repeat left top;
  background-image: url(../images/CU-ILR-caps-120-grey.svg), none;
}

#content {
  @include grid-span(1);
  padding: ms(3) 5% ms(2);
}

#sidebar_first {
  @include grid-span(1);
  padding-top: 0;
}

#sidebar_second {
  @include grid-span(1);
  background: #f1f1f1;
  padding: ms(1) 5%;
}

#content_bottom {
  @include grid-span(1);
  height: 100%;
}

footer {
  @include grid-span(1);
}

@include breakpoint(481px 768px) {

  @include add-grid (3 9);

  #featured-noBanner {
    @include grid-span(2);
    height: 85px;
  }

  #content {
    @include grid-span(1, 2);
    padding: ms(3) 5% ms(2) 0;
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
    padding: ms(1) 5%;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
    height: 300px;
  }

  footer {
    @include grid-span(2);
  }

}


@include breakpoint(769px 1024px) {

  @include add-grid (3 9);

  #featured-noBanner {
    @include grid-span(2);
    height: 140px;
  }

  #bannerAdj {
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
  }

  #content {
    @include grid-span(1, 2);
    padding: ms(3) 5% ms(2) 0;
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(2);
    clear: both;
    background: #fff;
    padding: ms(1) 5%;
  }

  #content_bottom {
    @include grid-span(2);
    clear: both;
    height: 300px;
  }

  footer{
    @include grid-span(2);
  }

}


@include breakpoint(1025px) {

  @include add-grid (3 6 3);

  #featured-noBanner {
    @include grid-span(3);
    height: 140px;
  }

  #bannerAdj {
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    float: left;
  }

  #content {
    @include grid-span(1, 2);
    clear: both;
    padding: ms(3) 0 ms(2);
  }

  #sidebar_first {
    @include grid-span(1, 1);
    padding-top: ms(2);
  }

  #sidebar_second {
    @include grid-span(1, 3);
    background: #fff;
    padding: ms(4) 0 ms(1);
  }

  #content_bottom {
    @include grid-span(3);
    clear: both;
    height: 300px;
  }

  footer{
    @include grid-span(3);
  }

}
