.wrapper {
    // @include background-grid;
    margin: 0 auto;
    min-height: auto;
  }

.region {
    min-height: 200px;
    &#highlighted {
      background: red;
    }
    &#content {
      background: yellow;
    }
    &#sidebar_first {
      background: green;
    }
    &#sidebar_second {
      background: blue;
    }
    &#content_bottom {
      background: grey;
    }
  }

@include breakpoint(769px) {

  $grids: 3 9;

  #highlighted {
    @include grid-span(2);
  }

  #content {
    @include grid-span(1, 2);
  }

  #sidebar_first {
    @include grid-span(1);
  }

  #sidebar_second {
    @include grid-span(2);
  }

  #content_bottom {
    @include grid-span(2);
  }

}

@include breakpoint(1025px) {

  $grids: 3 6 3;
  // $output: "float";


  #highlighted {
    @include grid-span(3);
  }

  #content {
    @include grid-span(1, 2);
  }

  #sidebar_first {
    @include grid-span(1 ,1);
  }

  #sidebar_second {
    @include grid-span(1, 3);
  }

  #content_bottom {
    @include grid-span(3);
  }

}
