nav {
  background: rgba(255,255,255,0.3);
  display: none; //for mobile
  h2 { @extend .hidden; }
  ul {
    padding-left: 80px;
    li {
      color: #fff;
      line-height: 2.4;
      margin: 0;
      padding: 0 50px 0 0;
      float: left;
    }
  }
}

nav.top {
  background: $gray-bkgd;
  border-top: 1px solid $gray-medium;
  display: none; //for mobile
}

div.nav, div.navColor, div.navAnnounce {
  float: left;
  padding-top: 15px;
  display: none; //for mobile
  ul {
    padding-left: 30px;
    li {
      font-family: freight-text-pro;
      font-size: ms(0);
      line-height: 1;
      margin: 0;
      padding: 0 20px 0 0;
      float: left;
    }
  }
}

.navDark {
  color: #212121;
}
.navLight {
  color: #fff;
}

@include breakpoint(481px 768px) {
  div.nav, div.navColor, div.navAnnounce {
    display: none;
  }

  nav.top {
    display: none;
  }
}

@include breakpoint(769px 1024px) {
  nav {
    display: inherit;
    ul {
      padding-left: 50px;
      li {
        padding: 0 30px 0 0;
      }
    }
  }

  div.nav, div.navColor, div.navAnnounce {
    display: inherit;
    float: left;
    padding-top: 40px;
    ul {
      padding-left: 30px;
      li {
        font-size: ms(0);
        padding: 0 30px 0 0;
      }
    }
  }

  nav.top {
    display: inherit;
    float: left;
    ul {
      padding-left: 30px;
      li {
        font-size: ms(0);
        padding: 0 30px 0 0;
      }
    }
  }
}

@include breakpoint(1025px) {
  nav {
    // ul {
    //   padding-left: 80px;
    //   li {
    //     padding: 0 50px 0 0;
    //   }
    // }
  }

  nav.top {
    display: inherit;
    ul {
      padding-left: 80px;
      li {
        padding: 0 50px 0 0;
      }
    }
  }

  div.nav, div.navColor, div.navAnnounce {
    display: inherit;
    float: left;
    padding-top: 40px;
    ul {
      padding-left: 50px;
      li {
        font-size: ms(1);
        padding: 0 30px 0 0;
      }
    }
  }
}
