.pullQuote {
  background: #f0b04e;
  width: 320px;
  height: 240px;
  margin-bottom: 5px;
  padding: 15px 20px 20px 20px;
  float: left;
  p {
    font-family: freight-sans-pro;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25;
    padding: 0 5px 0 5px;
    em {
      color: #f3c17d;
      font-size: 72px;
      font-style: normal;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
  }
  p.name {
    color: #603913;
    font-family: freight-sans-pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 15px 10px 0 0;
    text-align: right;
  }
  p.quote:after {
    content: url(/images/quote-after.gif);
  }
}
