.slug {
  background: #fff;
  width: 100%;
  height: auto;
  margin: 0 auto 10px auto;
  //padding: 0 0 0 12.632px;
  padding: 0;
  display: block;
  overflow: hidden;
  p {
	font-weight: 400;
	line-height: 1.443;
	margin: 0;
	padding: 0;
  }
  h1 {
	font-size: 20.438px;
	font-weight: 400;
	line-height: 1.263;
	margin: 0;
	padding: 0;
  }
}