.thumb {
  @extend .slug;
  img {
	width: 80px;
	height: 80px;
	margin-right: 12.632px;
	float: left;
  }
  h1 {
	margin-top: 20px;
  }
}

.row .thumb {
  @include grid-column(12);
  @include tablet-portrait-and-up {
	//width: 400px;
	@include grid-column(5);
	float: left;
  }
}